# Lock all files and directories with dot
*.* 
# Lock all files and directories, 有这条其实上一条没必要
* 
# 解锁当前路径下的所有目录文件, 才能找到逐级解锁子目录下的文件
!*/  

# 只解锁Makefile，并不上传其他测试用的文件
# !/src/* 
# !/inc/* 
!README
!Makefile
!.gitignore

